.modal-auth {
  overflow:hidden;
}

.modal-auth-body {
  display: flex;
  padding:var(--padding-md);
  transition: all 500ms;
}

.modal-auth-body-login,
.modal-auth-body-forgot,
.modal-auth-body-register {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  top:0;
}

.modal-auth-body-forgot {
  position: absolute;
  padding:var(--padding-md);
  right: 100%;
  text-align: center;
}

.modal-auth-body-register {
  position: absolute;
  padding:var(--padding-md);
  left:100%;
}






.login-help {
  display: flex;
  justify-content: space-between;
}

.remember-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remember-me input[type="checkbox"] {
  appearance:none;
  outline: none;
  -webkit-appearance:0;
  height:15px;
  width: 15px;
  margin:0px 5px 0px 3px;
  border-radius:2px;
  box-shadow:1px 1px 3px rgba(0,0,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
}


.remember-me input[type="checkbox"]::after {
    content:"\f00c";
    font-family: "Font awesome 5 Free";
    font-weight: 900;
    font-size:12px;
    color:#000000;
}
.remember-me input[type="checkbox"]:not(:checked)::after {
    display: none;
}
.remember-me input[type="checkbox"]:not(:checked) {
    background-color:  var(--cta-light);
}
.remember-me input[type="checkbox"]:not(:checked):hover {
    background-color:  var(--cta);
}
.remember-me input[type="checkbox"]:not(:checked):active {
    background-color:  var(--cta-dark);
}
.remember-me input[type="checkbox"]:checked {
    background-color: var(--cta-dark);
}
.remember-me input[type="checkbox"]:checked:hover {
    background-color: var(--cta);
}
.remember-me input[type="checkbox"]:checked:active {
    background-color: var(--cta-light);
}
.remember-me input[type="checkbox"]:checked::after {
    display: flex;
}

.forgot-password {
  text-align: end;
  margin-right: 2px;
}




.social-auth {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:0.5rem;
  overflow-x: hidden;
}
