.modal-bg {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;

  z-index: 100;
  
  border:2px solid #424242 !important;
  border-radius: clamp(8px,1.25vw,24px);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 12px 16px 8px 0px rgba(42, 42, 42, 0.25);
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}






.modal-header {
  position: relative;
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -webkit-box-shadow: 0px 14px 12px -3px rgba(32,32,32,0.625);
  -moz-box-shadow: 0px 14px 12px -3px rgba(32,32,32,0.625);
  box-shadow: 0px 14px 12px -3px rgba(16,16,16,0.75);
  
  z-index: 9;
}





.modal-body {
  display: flex;
  flex-flow: column;
  row-gap:2rem;
  height: 77.5%;
}
.modal-body::-webkit-scrollbar { 
  display: none; 
}






.modal-title {
  font-family: 'Cormorant Upright', serif;
  color:#DCCA87;
  font-weight: 600;
  font-size: var(--text-md);
}


.tooltip-modal:hover .tooltiptext-modal {
  opacity: 1;
  visibility: visible;
  transition: all 300ms;
  white-space: nowrap;
  width: auto;
  height: auto;
  padding: var(--padding-sm);
  color:var(--subTitle);
  z-index: 99;
}


.tooltiptext-modal {
  opacity: 0;
  visibility: hidden;
  transition: all 300ms;
  position: fixed;
  inset: 0;
  font-size: var(--text-sm);
  background-color: var(--primary);
  border-radius: var(--border-sm);
  z-index: 99;
  pointer-events: none;
}



.blur {
  backdrop-filter:blur(20px);
  /* for disable tailwind styles */
  filter:blur(0px) !important;
}



.close-button {
  cursor: pointer;
  width: clamp(1rem, 2vw, 1.75rem);
  height: clamp(1rem, 2vw, 1.75rem);
  filter: invert(98%) sepia(5%) saturate(4054%) hue-rotate(334deg) brightness(93%) contrast(83%);
  margin-right: 6px;
}
