@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  list-style: none;
  min-height: 100vh;
  height: -webkit-fill-available;
  background-color: #0C0B08;
  font-family: 'Open Sans', sans-serif;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #0C0B08;
}

html {
  height:-webkit-fill-available;
}

/* something that impact on hover - start */
/* don't modify !important here cause some users will not see hover effect 
cause they have some extentions like dark reader */
a {
  text-decoration: none !important;
  border-color:#e5e7eb !important;
  border-style: none !important;
  border-color:inherit !important;
}

*, ::before , ::after {
  border-color: inherit !important;
}
/* something that impact on hover - end */

.preTitle {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.spoon-svg {
  width: 2rem;
  height: 1rem;
}

.title-big {
  font-family: 'Cormorant Upright', serif;
  font-weight: 700;
  color:#DCCA87;
  font-size: 5rem;
}

.title {
  font-family: 'Cormorant Upright', serif;
  color:#DCCA87;
  font-size: 3rem;
}

.title-small {
  font-family: 'Cormorant Upright', serif;
  color:#DCCA87;
  font-size: 0.9rem;
}

.subTitle {
  color:#AAAAAA;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.container {
max-width: 70%;
margin: 0 auto;
}

.bg-png {
  z-index: 0;
  position: absolute;
  left:0;
  right:0;
}