@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  list-style: none;
  min-height: 100vh;
  height: -webkit-fill-available;
  background-color: #0C0B08;
  font-family: 'Open Sans', sans-serif;
}

html {
  height:-webkit-fill-available;
}

/* something that impact on hover - start */
/* don't modify !important here cause some users will not see hover effect 
cause they have some extentions like dark reader */
a {
  color: unset !important;
  text-decoration: none !important;
  border-color:#e5e7eb !important;
  border-style: none !important;
  border-color:inherit !important;
}

*, ::before , ::after {
  border-color: inherit !important;
}
/* something that impact on hover - end */

.title {
  color:#DCCA87
}

.subTitle {
  color:#AAAAAA;
}

.container {
max-width: 90%;
margin: 0 auto;
}