/* Input */
.input {
  position:relative;
}
.input input {
    width: 100%;
    color:#DCCA87;
    background-color: transparent;
    border-radius:16px;
    border:none;
    border-bottom:3px solid #DCCA87 !important;
    height: 45px;
    padding: 6px 10px 5px 14px;
}

.input input:focus {
  outline:none;
}

.input input:focus~label,
.input input:valid~label {
  transition: all 0.4s;
  top: 0;
}

.input label {
  position: absolute;
  top: 45%;
  transform:translateY(-50%);
  left:3%;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.6s;
}
.input .icon {
  color:#DCCA87;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  right: 12px;
  font-size: 20px;
}