.modal {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 90%;
  max-height: 90%;
  top: 5%; /*100-90=10/2=5=center*/
  margin: 0 auto;
  
 border:2px solid #ffffff !important;
  border-radius: 0.8em;

  background-image: url(./../../../public/menu/decorations/abstract-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 11px 16px 8px 0px rgba(0, 0, 0, 0.75);
  
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow:hidden;
}



.modal::-webkit-scrollbar {
  display: none;
}

.modal-header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.close-button {
  position: absolute;
  right: 2.5%;
}