.modal-menu {
  width: max(280px, 90%);
  /* 320-2160px - 80vh */
  /* diff between vh and code below its when you open dev-tools height keeps height */
  height: clamp(16rem, 0rem + 80vh, 108rem);
}





.modal-menu-header {
  display: flex;
  align-items: center;
  padding: var(--padding-x-medium);
}


.modal-menu-body {
  /* 12.5% footer - 85% body */
  height: 85%;
  padding: var(--padding-x-medium);
  overflow-y: scroll;
  scroll-behavior: smooth;
}







.modal-categories-container {
  margin-left: 1rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  column-gap: var(--gap-xs);
  white-space: nowrap;
  overflow: hidden;
}



.modal-category {
  padding: var(--padding-xs);
  font-size: clamp(0.5rem, -0.125rem + 1.3021vw, 3rem);
  color: var(--subTitle);
  border: 1px solid #424242 !important;
  border-radius: var(--border-small);
  cursor: pointer;
}

.modal-category-active {
  -webkit-box-shadow: inset 4px -16px 36px -8px rgba(75, 75, 75, 0.75);
  -moz-box-shadow: inset 4px -16px 36px -8px rgba(75, 75, 75, 0.75);
  box-shadow: inset 4px -16px 36px -8px rgba(75, 75, 75, 0.75);
  color: var(--preTitle);

  backdrop-filter: blur(16px);
}












.modal-category-list {
  display: flex;
  flex-flow: column;
}







.modal-list-title {
  font-family: 'Cormorant Upright', serif;
  text-align: center;
  width: 100%;
  font-size: clamp(2rem, 3vw, 10rem);
}

.modal-list-items-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: var(--gap-xs);
  row-gap: var(--gap-xs);
  justify-content: space-between;
  max-width: 100%;
}









.modal-list-item-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #424242 !important;
  border-radius: clamp(8px, 1.25vw, 24px);
  overflow: hidden;

  -webkit-box-shadow: inset 0px -24px 48px -8px rgba(75, 75, 75, 0.75);
  -moz-box-shadow: inset 0px -24px 48px -8px rgba(75, 75, 75, 0.75);
  box-shadow: inset 0px -24px 48px -8px rgba(75, 75, 75, 0.75);

  backdrop-filter: blur(16px);
  background-color: rgba(2, 2, 2, 0.2);
}












.modal-list-text-info-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 100%;
  padding: clamp(0.6rem, 0.75vw, 3rem) clamp(1rem, 1.25vw, 2.5rem);
}

.modal-list-img-info {
  max-width: 25%;
  object-fit: cover;
}









.modal-list-text-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-list-text-info-body {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.modal-list-text-info-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}










.modal-list-item-title {
  font-family: 'Cormorant Upright', serif;
  color: #DCCA87;
  font-size: clamp(1.25rem, 2.25vw, 4.5rem);
  font-weight: bold;
  min-width: 60%;
}

.modal-list-item-price {
  min-width: 10%;
  text-align: end;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 3rem);
  color: var(--title);
}

.modal-list-item-subTitle {
  line-height: 1.25rem;
}

.modal-list-item-subTitle:hover {
  cursor: pointer;
  color: #b20000;
}

.add-to-cart {
  text-align: center;
  color: #d1ccc3;
  border: 1px solid #21c600 !important;
  border-radius: var(--border-small);
  padding: clamp(0.1rem, 1vw, 0.4rem) clamp(0.4rem, 1vw, 1.4rem);
  font-size: clamp(1rem, 1.25vw, 2.5rem);
}

.add-to-cart:hover {
  cursor: pointer;
  transform: scale(0.975);
}

.list-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 100%;
  border:1px solid var(--info);
}







.modal-footer {
  padding: 0.1rem clamp(1rem, 2vw, 8rem);
  /* modal-header 12.5% + modal-body 77.5% = 90% / 100-90=10% */
  height: 10%;
  display: flex;
  justify-content: center;
}















@media (max-width:1440px) {
  .modal-list-items-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .modal-list-item-container {
    box-shadow: inset 4px -16px 36px -8px rgba(75, 75, 75, 0.75);
  }

  .modal-list-img-info {
    max-width: 20%;
  }
}


@media (max-width:768px) {
  .modal-category {
    padding: 0.2rem 0.4rem;
    font-size: 1rem;
  }

  .modal-list-img-info {
    max-width: 30%;
  }
}

@media (max-width:425px) {
  .modal-list-text-info-header {
    margin-bottom: 1rem;
  }

  .modal-list-text-info-body {
    display: none;
  }

  .add-to-cart {
    width: 100%;
  }

  .modal-categories-container {
    display: none !important;
  }

  .modal-list-img-info {
    max-width: 40%;
  }
}