.footer {
 display: flex;
 flex-flow: column;
 gap:2rem;
 justify-content: center;
 align-items: center;
 padding-bottom: 2vw;
 margin:0 5vh;
}




.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.footer-logo-text {
  font-family: 'Cormorant Upright', serif;
  font-size: 3.4rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}

.footer-title {
  color:#F5EFDB;
  font-family: 'Cormorant Upright', serif;
  font-size: 2rem;
  text-align: center;
}

.footer-subTitle {
  font-size: 0.8rem;
}

.footer-top_info {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 0.8rem;
  min-width: 25%;
  min-height: 30%;
  text-align: center;
  padding-top: 1rem;
}


.social-svg {
  width: 1rem;
  height: 1rem;
  fill:#ffffff;
}

.spoon-svg {
  width: 2rem;
  height: 1rem;
  margin-bottom: 0.8rem;
}

.footer-top_center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.footer-description {
  max-width: 90%;
  text-align: center;
  padding-bottom: 0.8rem;
  font-size: 0.8rem;
}

.socials {
  display: flex;
  gap:1rem;
}






.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}








