.main {
  display: flex;
  flex-flow: column;
  gap:2rem;
  /* mt-24 = 7rem + mb-16 = 4rem =7+4=11*/
  min-height: calc(100vh - 11rem);
}

.main-content{
  display: flex;
  gap: 4rem;
}

.main-text {
display: flex;
flex-flow: column;
justify-content: center;
align-items: flex-start;
}

.main-slider {
  position: relative;
  max-width: 25vw;
  display: flex;
  justify-self: center;
}
.img-pseudo::before {
  content: '';
  position: absolute;
  top:-1rem;
  left:-1rem;
  width: 60%;
  height: 60%;
  border-left: 1rem solid #DCCA87 !important;
  border-top: 1rem solid #DCCA87 !important;
}
.img-pseudo::after {
  content: '';
  position: absolute;
  bottom:-1rem;
  right:-1rem;
  width: 60%;
  height: 60%;
  border-bottom: 1rem solid #DCCA87 !important;
  border-right: 1rem solid #DCCA87 !important;
}

.slider-dots {
  font-family: 'Cormorant Upright', serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  font-size: 1.2rem;
}

.line-svg {
  stroke:#DCCA87;
  width: 2rem;
  height: 2px;
}

.tags {
  -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -o-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg);
  position:absolute;
  top:50%;
  translate:0 -50%;
  left: 5%;
  display: flex;
  gap: 2rem;
}

.scroll {
  position: absolute;
  right:9vh;
  bottom:9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.line-scroll {
  border-right: 1px solid #DCCA87;
  width: 1px;
  height: 3.5rem;
  border-image: linear-gradient(to bottom, #DCCA87, #0C0B08) 1 100%;
}


@media (max-width:2560px) {
  .main {

  }
}