.todaySpecial {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.todaySpecial-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.todaySpecial-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  max-width: 80%;
}


.menu-title {
  min-width: 60%;
}

.list-line {
  height: 1px;
  width:22%;
  background: #cccccc !important;
}

.list-price {
  min-width: 10%;
  font-size: clamp(1rem,1.5vw,2.5rem);
}


.menu-list {
  box-sizing: border-box;
  position: relative;
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  row-gap: 1rem;
}

.menu-list-img {
  width: 30%;
}

.item-info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  display: flex;
  flex-flow: column;
}

.list-title {
  font-family: 'Cormorant Upright', serif;
  font-size: clamp(2rem,3vw,5rem)
}

@media (max-width:720px) {
  .menu-list-img {
    display: none;
  }
  .list-title {
    text-align: center;
  }
  .menu-title {
    min-width: 50%;
  }
  .list-line {
    min-width: 20%;
  }
  .todaySpecial-menu {
    row-gap: 2rem;
    flex-flow: column;
    align-items: center;
  }
  .menu-list {
    width: 100%;
  }
}

@media (min-width:721px) {
  .list-title {
    text-align: center;
  }
  .menu-list-img {
    display: flex;
  }
}