.footer {
 position: relative;
 display: flex;
 flex-flow: column;
 gap:2rem;
 justify-content: center;
 align-items: center;
 padding-bottom: 2vw;
 margin:0 5vh;
 margin-top: auto;
}




.footer-top {
  display: flex;
  justify-content: space-between;
  font-size: clamp(1rem,2.5vw,5rem) !important;
  gap: 4rem;
}

.footer-logo-text {
  font-family: 'Cormorant Upright', serif;
  text-align: center;
  text-transform: uppercase;
  color:#DCCA87;
  font-weight: 600;
  margin-bottom: 1.3rem;
  font-size: clamp(2rem,2.5vw,5rem);
}

.footer-title {
  color:#F5EFDB;
  font-family: 'Cormorant Upright', serif;
  text-align: center;
  white-space: nowrap;
  font-size: clamp(2rem,2.5vw,5rem);
}

.footer-subTitle {
  color:#AAAAAA;
  font-size: clamp(1rem,1vw,2rem);
}

.footer-top_info {
  display: flex;
  align-items: center;
  flex-flow: column;
  gap: 0.8rem;
  min-width: 25%;
  min-height: 30%;
  text-align: center;
  padding-top: 1rem;
}


.social-svg {
  width: clamp(1.25rem,2vw,2.5rem);
  height: clamp(1.25rem,2vw,2.5rem);
  fill:#ffffff;
}

.footer-top_center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.footer-description {
  max-width: 90%;
  text-align: center;
  padding-bottom: 0.8rem;
  font-size: clamp(1rem,1vw,1.5rem);
}

.socials {
  display: flex;
  gap:1rem;
}






.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}



@media (max-width:720px) {
  .footer-top {
    flex-flow: column;
  }
  .footer-top_info,.footerTop {
    display: none;
  }
}